@mixin f-center()
  display: flex
  justify-content: center
  align-items: center

@mixin transformable()
  transition: transform 0.3s var(--bezier-chill)
  &, *
    will-change: transform, opacity

.button-container
  @include f-center
  user-select: none
  .outer
    @include f-center
    @include transformable
    border-radius: 100em
    background: linear-gradient(180deg, var(--_gradient-top, #329ECC) -13.04%, var(--_gradient-bottom, #ff00ff) 136.96%)
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    cursor: pointer
    &:hover 
        transform: scale(1.04)
    &:active 
      transform: scale(.95)
      opacity: 0.5

  .inner
    mix-blend-mode: color-burn
    color: white
    display: inline-block

    font-family: made_tommy, sans-serif
    font-weight: 500
    font-size: 1.5em
    font-weight: bold
  .btn
    color: unset
    border: none
    font-size: unset